<div class="container">
    <h3 class="text-center text-uppercase">contact us</h3>
    <hr>
    <p class="text-center w-75 m-auto">We're here to help and answer any questions you might have. If you experience any
        further problems or any suggestion or any feedback,
        please feel free to contact us. We look forward to hearing from you.</p>
    <div class="row">
        <div class="col-sm">
            <div class="d-flex justify-content-center p-5">
                <div class="bg-warning text-dark p-5">
                    <form id="contactform" #contactform="ngForm" (ngSubmit)="onSubmit(contactform.value)">
                        <div class="row">
                            <div class="col">
                                <label>First Name</label>
                                <input type="text" required maxlength="50" class="form-control" id="first_name"
                                    name="firstname" ngModel>
                            </div>
                            <div class="col">
                                <label>Last Name</label>
                                <input type="text" required maxlength="50" class="form-control" id="last_name"
                                    name="lastname" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="email_addr">Email address</label>
                                <input type="email" required maxlength="50" class="form-control" id="email_addr"
                                    name="email" placeholder="name@example.com" ngModel>
                            </div>
                            <div class="col">
                                <label for="phone_input">Phone</label>
                                <input type="tel" required maxlength="50" class="form-control" id="phone_input"
                                    name="phoneno" placeholder="Phone" ngModel>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" name="message" rows="5" ngModel></textarea>
                            </div>
                        </div>
                        <div class="row p-3">
                            <div class="d-grid justify-content-md-end">
                                <input type="submit" value="Post" class="btn btn-primary px-4 btn-sm">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm p-5" *ngIf="Allcontacts">
                <h6 class="">Comments/Feedback</h6><hr>
            <div class="d-flex justify-content-center p-2 bg-warning">
                <div class="card" *ngFor="let contact of Allcontacts">
                    <div class="card-body">
                        <h5 class="title">{{contact.firstname}} {{contact.lastname}}</h5>
                        <p>Mobile : {{contact.phoneno}}</p>
                        <p>Email : {{contact.email}}</p>
                        <p>Message : {{contact.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">call us</h4>
                    <p>+8801683615582,+8801750603409</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">office loaction</h4>
                    <address>Suite 02, Level 12, Sahera Tropical Center </address>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">office loaction</h4>
                    <address>Suite 02, Level 12, Sahera Tropical Center </address>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 my-5">
            <div class="card border-0">
                <div class="card-body text-center">
                    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">email</h4>
                    <p>http://al.a.noman1416@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>