<div class="container">
  <div class="jumbotron">
    <div class="row pb-5">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header bg-dark text-white">
            <span class="card-title">Total Teachers
              <span class="badge rounded-pill bg-danger border border-light">{{ totalTeachers }} </span>
            </span>
          </div>
          <div class="card-body">
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header bg-dark text-white">
            <span class="card-title position-relative">Total Students
              <span class="badge rounded-pill bg-danger border border-light">{{ totalStudents }} </span>
            </span>
            
          </div>
          <div class="card-body">
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header bg-dark text-white">
            <span class="card-title">Total Classes              
              <span class="badge rounded-pill bg-danger border border-light">{{ totalClasses }} </span>
            </span>
          </div>
          <div class="card-body">
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header bg-dark text-white">
            <span class="card-title">Other Info
              <span class="badge rounded-pill bg-danger border border-light">{{ OtherInfo }} </span>
            </span>
          </div>
          <div class="card-body">
            <p class="card-text">Some example text. Some example text.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-5">
    <app-geolocation></app-geolocation>
  </div>
  </div>
  <div class="row">
  <app-productcategory></app-productcategory>
</div>
</div>
