<div class="container-fluid" id="services">
    <div class="row"><span class="h3">
      Services we provide you...
    </span></div>
    <div class="row row-cols-2 row-cols-lg-5">
      <div class="col p-2">
        <div class="card border-primary text-center" role="button">
          <span class=""><i class="fa fa-home fa-5x"></i>
          </span>
            <div class="card-body">
                <!-- <fa name="fas fa-camera"></fa> -->
                <p class="card-text"><strong>Home</strong></p>
              </div>
              <div class="">
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
        </div>
      </div>
      <div class="col p-2">
        <div class="card border-primary text-center" role="button">
          <span class=""><i class="fa fa-heartbeat fa-5x"></i>
          </span>
            <div class="card-body">
                <!-- <fa name="fas fa-camera"></fa> -->
                <p class="card-text"><strong>Health</strong></p>
              </div>
              <div class="">
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
        </div>
      </div>
      <div class="col p-2">
        <div class="card border-primary text-center" role="button">
          <span class=""><i class="fa fa-graduation-cap fa-5x"></i>
          </span>
            <div class="card-body">
                <!-- <fa name="fas fa-camera"></fa> -->
                <p class="card-text"><strong>Education</strong></p>
              </div>
              <div class="">
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
        </div>
      </div>
      <div class="col p-2">
        <div class="card border-primary text-center" role="button">
          <span class="text-center"><i class="fa fa-plug fa-5x"></i>
          </span>
            <div class="card-body">
                <!-- <fa name="fas fa-camera"></fa> -->
                <p class="card-text"><strong>Electricians</strong></p>
              </div>
              <div class="">
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
        </div>
      </div>
      <div class="col p-2">
        <div class="card border-primary text-center" role="button" (click)="msg()">
          <span class=""><i class="fa fa-cutlery fa-5x"></i>
          </span>
            <div class="card-body">
                <!-- <fa name="fas fa-camera"></fa> -->
                <p class="card-text"><strong>Food</strong></p>
              </div>
              <div class="">
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
        </div>
      </div>
      <div class="col p-2">
        <div class="card border-primary text-center" role="button">
          <span class=""><i class="fa fa-windows fa-5x"></i>
          </span>
            <div class="card-body">
                <!-- <fa name="fas fa-camera"></fa> -->
                <p class="card-text"><strong>Others</strong></p>
              </div>
              <div class="">
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
        </div>
      </div>
      <div class="col p-2">
        <div class="card border-primary text-center" role="button">
          <span class=""><i class="fa fa-university fa-5x"></i>
          </span>
            <div class="card-body">
                <!-- <fa name="fas fa-camera"></fa> -->
                <p class="card-text"><strong>Banking & Insurance</strong></p>
              </div>
              <div class="">
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
        </div>
      </div>      
      <div class="col p-2">
        <div class="card border-primary text-center" role="button">
          <span class=""><i class="fa fa-car fa-5x"></i>
          </span>
            <div class="card-body">
                <!-- <fa name="fas fa-camera"></fa> -->
                <p class="card-text"><strong>Transport</strong></p>
              </div>
              <div class="">
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
        </div>
      </div>
    </div>
    
  </div>