

<hr class="p-0 m-0 b-0">
<div class="bg-light py-2"  role="banner">
  <div class="row ro-col-2 row-cols-lg-3 g-2 justify-content">
    <div class="col">     
      <img class="img-thumbnail" src="..." alt="...">
      <span class="">DemoApp</span>
    </div>
    <div class="col">
      <div class="text-muted mb-0 py-2">&copy; 2022 DemoApp All rights reserved</div>
    </div>
    <div class="col">
      <div class="">
        <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
          <i class="fa fa-google"></i>
        </a>
        <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</div>