<hr class="p-0 m-0 b-0">
<div class="d-flex align-items-center justify-content-between">
  <div class="">     
    <img class="img-thumbnail" src="assets/demo.png" alt="...">
    <span class="">DemoApp</span>
  </div>
  <div class="">
    <div class="text-muted mb-0 py-2">&copy; 2022 DemoApp All rights reserved</div>
  </div>
  <div class="">
    <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
      <i class="fa-brands fa-google"></i>
    </a>
    <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
  </div>
</div>

<hr class="p-0 m-0 b-0">
